<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body class="bg-amber-700 h-screen flex flex-col gap-7 justify-center items-center">
    <h1 class="text-3xl font-extrabold">404 Error - Page Not Found!</h1>
    <a href="/" class="underline font-bold">Goto Home</a>
</body>
</html>