<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body class="bg-amber-600">
    <h1 class="text-center text-3xl py-5 underline font-extrabold text-blue-50">Your Home registered successfully!</h1>
    <div class="flex flex-col gap-7 bg-amber-200 items-center justify-center py-10">
        <h2 class="font-bold">Your Home Name: <%= homeName%></h2>
        <a href='/' class="underline">Goto Home</a>
    </div>
</body>

</html>