<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body class="bg-amber-600">
    <h1 class="text-center text-3xl py-5 underline text-black">Welcome to the airbnb</h1>
    <div class="bg-amber-200 flex justify-center items-center gap-3 py-5">
        <a class="border cursor-pointer border-black px-2 py-3" href='host/add-home'>Register Home</a>
        <a class="border cursor-pointer border-black px-2 py-3" href='host/show-homes'>Available Homes</a>
    </div>
</body>

</html>