<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body class="bg-amber-600">
    <h1 class="text-center text-3xl underline mt-5">Register Your Home</h1>
    <div class="bg-amber-200 p-10 mt-4 flex flex-col justify-center items-center gap-7">
        <form action='add-home' method='POST' class="flex justify-center items-center">
            <input type='text' name='homeName' placeholder='Enter Home Name' class="outline-1 px-2 py-3"/>
            <input type='submit' class="border px-3 py-3 bg-black border-black text-white cursor-pointer"/>
        </form>

        <a href="/" class="underline">Goto Home</a>
    </div>
</body>

</html>